header{
	margin-bottom: 2%;
}
.parte1{
	margin-top: 1%;
	padding-top: 1%;
	background-color: #C983EF;
}
h4 a{
	color: #2D2D2D;
}
h4 span{
	color: #C983EF;
}
h2 span{
	color: #C983EF;
}

h1{
	font-size: 50px;
}
.prof{
	font-size: 25px;
}























