.col-md-3.pull-right {
    margin-top: 2%;
}

input.boton {
    border: 0px!important;
    background-color: #92c01f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    margin-top:15% !important;
    color: #f7f7f7;
}
input.boton:hover {
color: #f7f7f7;
}

.logotipo{
    margin-top: -5%;
}

nav.navbar {
    background: #92c01f;
    padding-bottom: 4px;
}

.navbar-default .navbar-nav > li > a {
    color: #f7f7f7;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f7f7f7;
    text-decoration: underline;
}

.foot{
    background: #92c01f;
    color: #f7f7f7;
    padding-bottom: 2%;
    padding-top: 2%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    clear: both!important;
}

.btnAceptar{
    background: #92c01f;
    color:#f7f7f7;
}

.navbar {
margin-bottom: 0px;
padding-bottom: 2%!important;
padding-top: 1%;
}

.navbar-inverse {
    border-color: #92c01f;
    padding-bottom: 0px;
}

.pfoot{
    color: #f7f7f7;

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #f7f7f7;
    cursor: default;
    background-color: #92c01f;
    border-color: #92c01f;
}

.pagination > li > a, .pagination > li > span {
    color: #92c01f;
}

form.form-horizontal {
    margin-bottom: 2%;
}

.forreg{
    margin-top: 1.5%;
}

@media (min-width: 768px){
.navbar-right {
    float: right !important;
    margin-right: -3px;
}
}

.regis{
    margin-top: 1%;
    color: #f7f7f7;
}

.regis:hover{
    color: #f7f7f7;
}

.mascota {
    font-size: 15px;
}

.datosmas{
    margin-top: 1%;
}

.botoformulario{
    margin-bottom: 3%;
}

p.descripcion {
    margin-top: 2%;
    font-size: 23px;
    border: 1px solid #eeeeee;
    padding: 2%;
    background-color: #eeeeee;
    border-radius: 4px;
}

.formularioPeque {
    width: 10%!important;
    margin-right: 5%;
}

.imgfor{
    margin-top: 5%;
   margin-bottom: 2%;
    margin-right: 2%;
}

.formularioUsuario{
    width: 45%!important;
    margin-right: 4%;
}

.formufecha{
    margin-left: 5%;
}



.imgestrecha {
    margin-left: 20.5%!important;
}


.campoancho{
    margin-left: 2.5%;
    width: 64.5%;
}

.formularioizda {
    margin-left: -5.5%;
}

h2.nombreNav {
    margin-top: 7%;
}

.buscadorUsuario{
     margin-top: 7%;
}
.botonBuscadorUsuario{
     margin-top: 12%;
}

.buscadorMascota{
     margin-top: 10%;
}
.botonBuscadorMascota{
     margin-top: 10%;
}

@media (max-width: 767px){
    .ocultoMovil{
        display: none!important;
    }
    
    .botonBuscadorMascota{
        margin-top: 23%!important;
    }
    .campopeque{
        margin-bottom: 5%!important
            
    }
    .campogrande{
        margin-left: 5%!important;
    }
    
    .imgElim{
        margin-bottom: 8% !important;
    }
    
    .campoancho{
        margin-left: 5%!important;
    }
    
    .imagenbd{
        width: 50%!important;
    }
    
    .mascota{
        font-size: 12px!important;
    }
    
}
@media (max-width: 340px){
    a.navbar-brand {
        margin-top: -15%;
        margin-bottom: 2%;
    }
}


@media (min-width: 768px){
    .ocultoPC{
        display: none;
    }
    
    .logotipo{
       
    }
    
    .botonBuscadorMascota{
        margin-top: 17%!important;
    }
    
    


}

.campogrande{
    margin-left: 2.5%;
}

body{
    background-color: #f7f7f7;
}